__MACOSX
.DS_Store
cmake_install.cmake
CMakeCache.txt
Makefile

*.orig
*.o
*.plist
*~
*.csv

C/.idea
C/bin
C/make-build-debug
C/obj
C/log
C/CMakeFiles
C/Tabou
C/cmake-build-debug
C/ProjetTabou.depend
C/ProjetTabou.layout
C/Tabou.cbp
C/TabouProd
C/tabouFull.dSYM/
Tabou.dSYM

Python/.idea
Python/log
Python/output.txt

Java/SolutionCalculator/.idea
Java/SolutionCalculator/target
Java/SolutionCalculator/SolutionCalculator.iml

Rapport/.texpadtmp
Rapport/Rapport_COUCHOUD_GRODECOEUR.pdf
Rapport/build/
*.gz
